extends base

block content
    div(class="container-fluid")
        div(class="container", style="padding: 20px; margin-top: 50px;")
            div
                h3 #{message}
                p This view was generated using Server Side Rendering
            div
                p Happy coding! 😊
